<%= form_with(model: mapping) do |form| %>
  <% if mapping.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(mapping.errors.count, "error") %> prohibited this mapping from being saved:</h2>

      <ul>
        <% mapping.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :obj_name, style: "display: block" %>
    <%= form.text_field :obj_name %>
  </div>

  <div>
    <%= form.label :origin, style: "display: block" %>
    <%= form.text_field :origin %>
  </div>

  <div>
    <%= form.label :target, style: "display: block" %>
    <%= form.text_field :target %>
  </div>

  <div>
    <%= form.label :target_type, style: "display: block" %>
    <%= form.text_field :target_type %>
  </div>

  <div>
    <%= form.label :default, style: "display: block" %>
    <%= form.text_field :default %>
  </div>

  <div>
    <%= form.label :json_paths, style: "display: block" %>
    <%= form.text_field :json_paths %>
  </div>

  <div>
    <%= form.label :evaluate, style: "display: block" %>
    <%= form.text_field :evaluate %>
  </div>

  <div>
    <%= form.label :other, style: "display: block" %>
    <%= form.text_field :other %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
