<div id="<%= dom_id mapping %>">
  <p>
    <strong>Obj name:</strong>
    <%= mapping.obj_name %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= mapping.origin %>
  </p>

  <p>
    <strong>Target:</strong>
    <%= mapping.target %>
  </p>

  <p>
    <strong>Target type:</strong>
    <%= mapping.target_type %>
  </p>

  <p>
    <strong>Default:</strong>
    <%= mapping.default %>
  </p>

  <p>
    <strong>Json paths:</strong>
    <%= mapping.json_paths %>
  </p>

  <p>
    <strong>Evaluate:</strong>
    <%= mapping.evaluate %>
  </p>

  <p>
    <strong>Other:</strong>
    <%= mapping.other %>
  </p>

</div>
