<p style="color: green"><%= notice %></p>

<%= render @mapping %>

<div>
  <%= link_to "Edit this mapping", edit_mapping_path(@mapping) %> |
  <%= link_to "Back to mappings", mappings_path %>

  <%= button_to "Destroy this mapping", @mapping, method: :delete %>
</div>
